﻿<%@ Master Language="VB" EnableViewState="True" AutoEventWireup="False" CodeBehind="DF_Kiosk.master.vb" Inherits="DFKiosk.DF_Kiosk" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>DispenseFirst Kiosk Home</title>
    <link href="~/Styles/StyleSheet1.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Styles/skel.css" />
    <link rel="stylesheet" href="~/Styles/style.css" />


    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" language="javascript">
        $(function () {
            $("#<%=txtSRNNo.ClientID %>").keyup(function () {
                if ($(this).val().length == 9) {
                    $("#<%=btnViewInventory.ClientID %>").focus();
                }
            });
        });

        function alertMessage() {
            alert('JavaScript Function Called!');
        }

        function CallConfirmBox() {
            if (confirm("Are you sure you want to delete record?")) {
                alert("You pressed OK!");
            } else {
                alert("You pressed Cancel!");
            }
        }

        function reloadPage() {
            history.go(-1)
            document.location.reload()
        }
    </script>

    <%-- <style type="text/css">
        .style1
        {
            width: 100%;
        }
    </style>--%>
</head>
<body class="homepage">
    <form id="Form1" runat="server">
        <asp:Label ID="lblCustIdNo" runat="server" Text="0" Visible="False"></asp:Label>
        <asp:Label ID="lblCareIdNo" runat="server" Text="0" Visible="False"></asp:Label>

        <asp:SqlDataSource ID="SqlDataSource1" runat="server" ConnectionString="<%$ ConnectionStrings:DFKiosk.My.MySettings.db1DFKioskConnectionString %>"
            InsertCommand="csp_CONSULT_Insert" InsertCommandType="StoredProcedure">

            <InsertParameters>
                <asp:Parameter Name="SessionId" Type="String" />
                <asp:Parameter Name="CustIdNo" Type="Int32" />
                <asp:Parameter Name="CareIdNo" Type="Int32" />
                <asp:Parameter Name="Company" Type="String" />
                <asp:Parameter Name="Company_Care" Type="String" />
                <asp:Parameter Name="AccountIPAddress" Type="String" />
                <asp:Parameter Name="AccountOrigin" Type="String" />
            </InsertParameters>
        </asp:SqlDataSource>

        <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>

        <%--        <div class="columnimage">
            <div class="image">
               
            </div>
        </div>

        <div class="columnright">
             <asp:Button ID="btnConsult" runat="server" Text="Request Consultation"
                OnClick="btnConsult_Click" class="btn-primary" />
            <asp:Button ID="btnViewInventory" runat="server" Text="Products"
                OnClick="btnViewInventory_Click" class="btn-primary" />
            <asp:Button ID="btnLogout" runat="server" Text="Log Out"
                OnClick="btnLogout_Click" class="btn-primary" />

            <hr />



        </div>

        <br class="clear" />
        <hr />

        <div class="Customer Content">
        </div>--%>



        <!-- Header Wrapper -->
        <div class="wrapper style1">

            <!-- Header -->
            <div id="header">
                <div class="container">

                    <!-- Logo -->
                    <h1>
                        <%--  <asp:Image ID="Image1" runat="server" ImageUrl="~/Images/MOCA.ai.jpg" />--%>
                        <a href="#" id="logo">Solarize</a></h1>

                    <!-- Nav -->
                    <nav id="nav">
								<ul>
                                    <li class="active"><asp:LinkButton ID="btnConsult" runat="server" Text="Request Consultation" OnClick="btnConsult_Click"  /></li>																		
									<li><asp:LinkButton ID="btnViewInventory" runat="server" Text="PRODUCTS" OnClick="btnViewInventory_Click"  /></li>                                    
                                    <li><asp:LinkButton ID="btnLogout" runat="server" Text="LOGOUT" OnClick="btnLogout_Click" /></li>
								</ul>
							</nav>

                </div>
            </div>

            <!-- Banner -->
            <div id="banner">
                <section class="container">
						<h2>Solarize</h2>
						<span>Design by Templated</span>
						<p>Pellentesque pede. Donec pulvinar ullamcorper metus. In eu odio at lectus pulvinar mollis. Vestibulum sem magna.</p>
					</section>
            </div>

        </div>

        <!-- Section One -->
        <div class="wrapper style2">
            <section class="container">
					<div class="row double">
						<div class="6u">
                             <asp:UpdatePanel ID="UpdatePanelCustomer" runat="server">
                                    <ContentTemplate>
                                        <asp:Label ID="lblSRNNo" runat="server" Text="Please swipe your registration card: " Font-Size="X-Large"></asp:Label>
                                        &nbsp;&nbsp;
                                <asp:TextBox ID="txtSRNNo" runat="server" AutoPostBack="True" TabIndex="0" Height="50px" Font-Size="X-Large"
                                    MaxLength="9"></asp:TextBox>
                                        <br />
                                    </ContentTemplate>
                                </asp:UpdatePanel>
							<asp:UpdatePanel ID="UpdatePanel1" runat="server" UpdateMode="Always">
                <ContentTemplate>
                    <div class="columncartlogo">
                        <asp:ImageButton ID="btnImageCheckout" runat="server"
                            ImageUrl="~/Images/CartButton4.jpg" />
                    </div>

                    <div class="columncartcount">
                        <asp:Literal ID="lblCartCountText" runat="server" Text="| Cart Count:" />
                        <asp:Label ID="lblCartCount" runat="server" Text='<%#Session("CartCount")%>' Visible="True"></asp:Label>

                        <asp:Literal ID="lblCannbisCanBuyText" runat="server" Text=" | Grams Remaining:" />
                        <asp:Label ID="lblCannabisCanBuy" runat="server" Text="0" Visible="True"></asp:Label>
                        <asp:Literal ID="Literal1" runat="server" Text=" |" />


                        <asp:Label ID="lblCannabisLimit" runat="server" Text="0" Visible="False"></asp:Label>
                        <asp:Label ID="lblCannabisCount" runat="server" Text='<%#Session("CannabisCount")%>' Visible="False"></asp:Label>
                    </div>
                </ContentTemplate>
            </asp:UpdatePanel>
						</div>
						<div class="6u">
							<%--<h3>Suspendisse dictum porta</h3>
							<p>Donec leo. Vivamus fermentum nibh in augue. Praesent a lacus at urna congue rutrum. Nulla enim eros, porttitor eu, tempus id, varius non, nibh. Vestibulum imperdiet, magna nec eleifend semper augue mattis wisi maecenas ligula nunc lectus vestibulum euismod lacinia quam nisl.</p>
							<a href="#" class="button">Nulla aluctus eleifend</a>--%>
						</div>
					</div>
				</section>
        </div>

        <asp:SiteMapDataSource ID="SiteMapDataSource1" runat="server" />

        <asp:ContentPlaceHolder ID="MainContent" runat="server">
        </asp:ContentPlaceHolder>

        <!-- Section Two -->
        <div class="wrapper style3">
            <section class="container">
					<header class="major">
						<h2>Cras vitae metus aliNuam</h2>
					</header>
					<p>Pellentesque pede. Donec pulvinar ullamcorper metus. In eu odio at lectus pulvinar mollis. Vestibulum sem magna, elementum vestibulum arcu.</p>
					<a href="#" class="button alt">Nulla aluctus eleifend</a>
				</section>
        </div>

        <!-- Section Three -->
        <div class="wrapper style4">
            <section class="container">
					<header class="major">
						<h2>Cras vitae metus aliNuam</h2>
						<span class="byline">pulvinar mollis. Vestibulum sem magna, elementum vestibulum arcu.</span>
					</header>
					<div class="row flush">
						<div class="4u">
							<ul class="special-icons">
								<li>
									<span class="fa fa-cogs"></span>
									<h3>Nulla luctus eleifend</h3>
									<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula pellentesque.</p>
								</li>
								<li>
									<span class="fa fa-wrench"></span>
									<h3>Etiam posuere augue</h3>
									<p>Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat liguala.</p>
								</li>
								<li>
									<span class="fa fa-leaf"></span>
									<h3>Fusce ultrices fringilla</h3>
									<p>Maecenas pede nisl, elementum eu, ornare ac, malesuada at, erat. Proin gravida orci porttitor.</p>
								</li>
							</ul>
						</div>
						<div class="4u">
							<ul class="special-icons">
								<li>
									<span class="fa fa-cogs"></span>
									<h3>Nulla luctus eleifend</h3>
									<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula pellentesque.</p>
								</li>
								<li>
									<span class="fa fa-wrench"></span>
									<h3>Etiam posuere augue</h3>
									<p>Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat liguala.</p>
								</li>
								<li>
									<span class="fa fa-leaf"></span>
									<h3>Fusce ultrices fringilla</h3>
									<p>Maecenas pede nisl, elementum eu, ornare ac, malesuada at, erat. Proin gravida orci porttitor.</p>
								</li>
							</ul>
						</div>
						<div class="4u">
							<ul class="special-icons">
								<li>
									<span class="fa fa-cogs"></span>
									<h3>Nulla luctus eleifend</h3>
									<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula pellentesque.</p>
								</li>
								<li>
									<span class="fa fa-wrench"></span>
									<h3>Etiam posuere augue</h3>
									<p>Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat liguala.</p>
								</li>
								<li>
									<span class="fa fa-leaf"></span>
									<h3>Fusce ultrices fringilla</h3>
									<p>Maecenas pede nisl, elementum eu, ornare ac, malesuada at, erat. Proin gravida orci porttitor.</p>
								</li>
							</ul>
						</div>
					</div>
				</section>
        </div>

        <!-- Team -->
        <div class="wrapper style5">
            <section id="team" class="container">
					<header class="major">
						<h2>Cras vitae metus aliNuam</h2>
						<span class="byline">pulvinar mollis. Vestibulum sem magna, elementum vestibulum arcu</span>
					</header>
					<div class="row">
						<div class="3u">
							<a href="#" class="image"><img src="images/placeholder.png" alt=""></a>
							<h3>Molly Millions</h3>
							<p>In posuere eleifend odio quisque semper augue wisi ligula.</p>
						</div>
						<div class="3u">
							<a href="#" class="image"><img src="images/placeholder.png" alt=""></a>
							<h3>Henry Dorsett Case</h3>
							<p>In posuere eleifend odio quisque semper augue wisi ligula.</p>
						</div>
						<div class="3u">
							<a href="#" class="image"><img src="images/placeholder.png" alt=""></a>
							<h3>Willis Corto</h3>
							<p>In posuere eleifend odio quisque semper augue wisi ligula.</p>
						</div>
						<div class="3u">
							<a href="#" class="image"><img src="images/placeholder.png" alt=""></a>
							<h3>Linda Lee</h3>
							<p>In posuere eleifend odio quisque semper augue wisi ligula.</p>
						</div>
					</div>
				</section>
        </div>

        <!-- Footer -->
        <div id="footer">
    </form>
</body>
</html>
